@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

/* margin,padding 초기화 */
*{
 font-family: 'Hanna';
}

footer{
	position: relative;
	height: 170px;
	margin-top :550px;
	text-align: left;
	font-size: 15px;
	font-weight: lighter;
	background-color: #f6f6f6;
	line-height:1.5;
	background-color: rgba( 255, 255, 255, 0.5);
}

footer p{
	padding: 40px;
}
footer span{
	font-size: 18px;
	
}
footer span a{
	color:black;
}
footer span a:HOVER{
	text-decoration: underline;
}
