@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

/* margin,padding 초기화 */
*{margin: 0px; padding: 0px;
 font-family: 'Hanna';
}
header{

	height: 200px;
	position: relative;
	background-color: #f6f6f6;
	background-color: rgba( 255, 255, 255, 0.5 );
}

#logo img{
	position: absolute;
	margin-top: 30px;
	left:180px;
	padding: 10px;
}

/* 로그인 등 */

#top_menu{
	position: absolute;
	top: 40px;
	right: 40px;
	font-size: 18px;
}

#top_menu a {
	font-weight: 550; 
	color: #004954;
	letter-spacing:2px;
}
#top_menu a:hover{
	font-weight: bold; 
	color: black; 
	letter-spacing:2px;
}



/* 메뉴리스트 */
nav{
	position: absolute;
	bottom: 30px;
	left: 400px;
	font-size: 18px;
}

nav li{
	display: inline;
	margin-left:200px;
}

nav li a{
	font-weight: 550; 
 	color: black;
	letter-spacing:2px;
}
nav li a:hover{
	font-weight: bold; 
	color: #004040; 
	letter-spacing:2px;
}
nav li a:active{
	font-weight: bold; 
	color: #8f9306; 
	letter-spacing:2px;
}