@CHARSET "UTF-8";


@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 
.hanna { font-family: 'hanna'; } 

*{
	list-style:none; 
	font-family: 'hanna';
	text-decoration:none;
}


/* 
/* article{float: left; 
padding-left: 400px;
font-size: 1.5em;line-height: 1.5em}
정렬 오른쪽 너비 660px 안오른쪽여백 30px 
줄간격1.5em */

article h1{
font-size: 30px; color: #4e4e4e; margin: 20px 0;
font-weight: normal;
}글자크기 45px
글자색 #CCC 밖여백20px 0  글자굵기 normal

article table#question{width: 670px;
border-collapse: collapse;}
너비 670 테이블공간없애기

article table#question th{height: 20px;
text-transform: capitalize;font-size: 18px;
font-weight: bold;padding: 5px;
}
높이 20 첫글자대문자
글자크기 14 글자모양 seo 굵기 bold 안여백 5px
배경이미지 images/center/t_back.jpg 반복 x 
위치 center center 글자색 #FFF

article table#question td{text-align: center;
padding: 6px 0; border-bottom-width: 1px;
border-bottom-style: dotted;border-bottom-color: #999;
font-size: 15px;}
글자정렬 center
안여백 6px 0 테두리아래너비 1px 테두리아래스타일dotted
테두리아래색 #999

article table#question td.left{text-align: left;}
글자정렬 left

article th.tno{width: 50px;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
}너비 50px 
왼쪽위 둥글게5px 왼쪽아래 둥글게5px

article th.ttitle{width: 400px; letter-spacing: 0.7em}
너비 400px 문자간격 0.7em
article th.twrite{width: 100px;}
너비 100px
article th.tdate{width: 50px;}
너비 50px
article th.tread{width: 50px;
border-top-right-radius:5px;
border-bottom-right-radius:5px;}
너비 50px 
오른쪽위 둥글게5px 오른쪽아래 둥글게5px

#table_search .input_box{height: 20px; width: 200px;
border-radius:10px;
border: 1px solid #333}
높이 20px 너비 200px
테두리 1px solid #333 테두리둥글게 10px

#table_search .btn{padding: 2px;margin: 0 0 0 5px;
width: 90px;height: 23px;border: 0.1px solid #999;
border-radius:10px;
background-color: #FAF4C0;
		
}
안여백 2px 밖여백 0 0 0 5px
너비 90 높이 23 테두리 1 solid #999 테두리둥글게 10px


#page_control{text-align: left; margin: 20px 0 0 0;
margin-right: auto;margin-left: auto;}
글자정렬 center 밖여백 20px 0 0 0
밖여백오른쪽 auto 밖여백왼쪽 auto

#page_control a{padding: 1px 1px; text-decoration: none;
font-size: 18px;
color: #333; margin: 0 3px;}
안여백 2px 5px 밑줄 none 글자색#333 밖여백 0 5px

#page_control a:hover{font-weight: bold; color: #FAF4C0;
text-decoration: underline;}
글자굵기bold 글자색#F90 밑줄 underline

article table#question tr:hover{
	background-color: #FAF4C0;
cursor: pointer;cursor: hand;}

.clear{clear: both;}


 */