@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

/* margin,padding 초기화 */
*{margin: 0px; padding: 0px;
 font-family: 'Hanna';
}

/* 리스트 앞에 모양 제거 */
ul{list-style: none;}

/* 밑줄 제거 */
a{text-decoration: none;}

body{
	background-image:url("../images/5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba( 255, 255, 255, 0.5 );
}
/* 
body :: after{
	background-image:url("../images/1.jpg");
	opacity: 0.5;
	background-repeat: no-repeat;
	background-size: cover;
}
 */
div#pill,#search,#medicine {
	float: left;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 120px;
}

div p {
	font-size: 30px;
	font-weight: bold;
}

#page{ width: 900px;   margin: 0px auto;}
header {  width: 900px;   margin: 0px auto;}
footer {width: 900px; margin: auto;}
body {width:900px; margin: 0 auto;}
