@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 
.hanna { font-family: 'hanna'; } 

*{
	list-style:none; 
	font-family: 'hanna';
	text-decoration:none;
	color: black;
	
}

h1{
	margin-left: 100px;
}

table{
	margin-left:auto;
	margin-right:auto;
	border-spacing: 30px;
}

#inf:hover{
	background-color: #95adbe;
}

table td a{
	color: black;
	list-style:none; 
	font-family: 'hanna';
	text-decoration:none;
	color: black;
	
}

table span{
	color: #545454;
}
