@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 
.hanna { font-family: 'hanna'; } 

*{
	list-style:none; 
	font-family: 'hanna';
	text-decoration:none;
}

/* article{float: left; 
padding-left: 400px;
font-size: 1em;line-height: 2em;
letter-spacing:1px;} */


article h1{
font-size: 30px; color: #4e4e4e; margin: 20px 0;
font-weight: normal;
}



#contact input {
height: 15px; width: 350px;
border-radius:10px;
border: 0.1px solid #a9a9a9;
font-size: 17px;
padding: .8em .5em;
letter-spacing:1px;
}



#contact textarea{
height: 300px; width: 450px;
border-radius:10px;
border: 0.1px solid #a9a9a9;
padding: .8em .5em;
}

textarea{
	font-size: 30px;
}

.btn{
padding: 2px;margin: 0 0 0 5px;
width: 100px;height: 37px;border: 0.1px solid #999;
border-radius:10px;
background-color: #FAF4C0;
font-size: 15px;
}

sup{
	font-size: small;
	color: red;
}





