@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 
.hanna { font-family: 'hanna'; } 

*{
	list-style:none; 
	font-family: 'hanna';
	text-decoration:none;
}




#menu{
	width: auto;
	margin: 0 auto;
	background-color: #D1B2FF;
}


#top_menu a {
	list-style:none; 
	font-family: 'hanna';
	text-decoration:none;
	margin: 0.5em;
	float:left;
	text-decoration:none;
	margin-bottom: 5px;
	color: white;
	
}

#login a{
	list-stlye:none;
	text-decoration: none;
}

#top_menu a:hover{
	color:#f4f4f4;
}

#sub_menu a{
	color: #363636;
	text-decoration:none;
}

#sub_menu a:hover{
	color: #686868;
	
}

#login{
	float:right;
	margin-right: 40px;
	margin-top: 10px;
}

#login>button{
	height: 3em;
	width: 6em;
	font-size: 15px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	font-family: 'Hanna';	
	background-color: #FAF4C0;
	outline-color: #FAF4C0;
	
	
}

#login>button a{
	font-color:#FFFFF6
}


#logo{
 	max-width: 300px;
 	margin: auto;
 	margin-bottom: 40px;
}



nav ul li{
	
	font-size: 20px;
	display:inline-block;
	margin: 0 20px;
	padding: 0;
}

nav ul{
	float:left;
	text-align:center;
	margin: 0 auto;
	padding:10px;
}

.container-1{
	margin-left:auto;
	margin-right:auto;
	width : 500px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.container-1 input{
	width: 500px;
	height: 45px;
	background: white;
	border: 0;
	outline: 0;
	border-radius: 15px;
	font-size: 20px;
	float: left;
	padding-left: 65px;
	color: #474747;
	
}

.container-1 .icon{
	position: absolute;
	top: 50%;
	margin-left: 10px;
	margin-top: 3px;
	
}


/* 
#search_form{
	left:50%;  transform:translate(-50%, -50%);
	margin-bottom: .05em .8em .05em .8em;
	position:relative;
 	display: inline-block;
 	
}

#searchBox{
	width: 500px;
	height: 45px;
	border: 0;
	outline: 0;
	border-radius: 9px;
	font-size: 18px;
 	clear:both;
	
} */

/* #serch_form input{
  background-image: url('../images/search.png');
  background-position: 5px center;
  padding-left: 40px;
} */




