@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 
.hanna { font-family: 'hanna'; } 


/* login */

*{
margin:0; padding:0; 
}

.loginp{
	background-color: #D1B2FF;
}

#login{
  max-width: 330px;
  padding: 100px;
  margin: auto;
}

#logo{
	max-width: 170px;
 	padding: 10px;
 	margin: auto;
}


.loginbox>input{
	height: 1.5em;
	width: 17em;
  	padding: 1em;
 	text-align: left;
 	font-size: 17px;
 	font-family: 'Hanna';	
}

#login>button{
	height: 3.5em;
	width: 21.8em;
	margin-top: 1em;
	font-size: 15px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	font-family: 'Hanna';	
}

#loginjoin{

	height: 3.5em;
	width: 21.8em;
	margin-top: 1em;
	font-size: 15px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	font-family: 'Hanna';	
	background-color: #FFFFF6;
	outline-color: #FFFFF6;
	outline-style;	
	

}


#submit{
	background-color: #FAF4C0;
	outline-color: #FAF4C0;
	
}


.loginjoin{
	text-decoration: none;
	background-color: #FFFFF6;
	
	
}

a{
	color:black; 
}


/* join */



.fr{
		  background-color: #D1B2FF;
		  font-family: 'Hanna';	
}


#join{
	max-width: 330px;
 	padding: 100px;
	margin: auto;
}

#join .id{
	height: 1em;
	width: 170px;
  	padding: 1em;
 	text-align: left;
 	font-size: 15px;
	border-color: #FFFFF6;
 	border-radius: 7px;
 	margin-bottom: 1px;
 	font-family: 'Hanna';	
}

.dup{
	display: inline-block;
	width: 95px;
	height: 45px;
	font-family: 'hanna';
	border: 0;
	background-color: #FAF4C0;
	border-radius: 5px;
	font-size:15px;
	color: #5D5D5D;
}

.name{
	height: 1em;
	width: 18em;
  	padding: 1em;
 	text-align: left;
 	font-size: 15px;
	border-color: #FFFFF6;
 	border-radius: 7px;
 	margin-bottom: 2px;
 	font-family: 'Hanna';	
}



.passwd,.passwd2{
	height: 1em;
	width: 18em;
  	padding: 1em;
 	text-align: left;
 	font-size: 15px;
	border-color: #FFFFF6;
 	border-radius: 7px;
 	font-family: 'Hanna';	
}

.id,.age,.phone,.address,.email{
	height: 1em;
	width: 18em;
  	padding: 1em;
 	text-align: left;
 	font-size: 15px;
	border-color: #FFFFF6;
 	border-radius: 7px;
 	margin-bottom: 1px;
 	font-family: 'Hanna';	
}

#join>button{
	height: 2.7em;
	width: 20.3em;
	margin-top: 0.5em;
	font-size: 15px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	font-family: 'Hanna';	
}

#join #GGender{
	position: relative;
	width: 310px;
	margin: 10px 0 20px 15px;
}

#join input[type='radio'] {
	display: inline-block;
	width: 150px;
	margin: 0;
}

#join #GGender label {
	display: inline-block;
	position: absolute;
	width: 140px;
	height: 36px;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
	line-height: 35px;
}

#join #GGender label[for='male'] {
	top: 0;
	left: -10px;
}

#join #GGender label[for='female'] {
	top: 0;
	left: 140px;
}



#join .posttext {
	display: inline-block;
	width: 200px;
	margin-left: 20px;
}

#join .btn {
	display: inline-block;
	width: 100px;
	height: 45px;
	font-family: 'hanna';
	border: 0;
	background-color: #FAF4C0;
	color: #5D5D5D;
	border-radius: 5px;
	font-size:15px;
}

#post #postcode{
	height: 1em;
	width: 150px;
  	padding: 1em;
 	text-align: left;
 	font-size: 15px;
	border-color: #FFFFF6;
 	border-radius: 7px;
 	margin-bottom: 1px;
 	font-family: 'Hanna';	
}

#post #address{
	height: 1em;
	width: 270px;
  	padding: 1em;
 	text-align: left;
 	font-size: 15px;
	border-color: #FFFFF6;
 	border-radius: 7px;
 	margin-bottom: 1px;
 	font-family: 'Hanna';	
}

#post #address2{
	height: 1em;
	width: 270px;
  	padding: 1em;
 	text-align: left;
 	font-size: 15px;
	border-color: #FFFFF6;
 	border-radius: 7px;
 	margin-bottom: 1px;
 	font-family: 'Hanna';	
}
